<div class="main-content">
  <div class="container-fluid">
      <mat-tab-group>
          <!-- Registrar Persona-->
          <mat-tab label="Registrar">
              <!-- Registrar Personas -->
              <div class="row">
                  <!-- Cuerpo del registro de la Persona -->
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header card-header-danger">
                              <h4 class="card-title">Empresa</h4>
                          </div>
                          <div class="card-body">
                              <form [formGroup]="ordenForm">
                                      <div class="row" style="margin-top: 20px;">
                                              <div class="col-12" >
                                                      <h4 style="margin: 0px;
                                                       margin-bottom: 5px; 
                                                       font-weight: bold;
                                                       font-size: 20px;">Datos generales</h4>
                                              </div>
                                          </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                        <mat-form-field>
                                          <mat-label>Proveedor</mat-label>
                                          <mat-select [disabled]="ordenesProductos.length > 0"  (selectionChange)="seleccionarProveedor($event.value)" >
                                               <mat-option *ngFor="let pro of proveedores" [value]="pro.idProveedor">
                                                   {{pro.razonSocial}}
                                               </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field>
                                          <mat-label>Suscursal</mat-label>
                                          <mat-select (selectionChange)="seleccionarSucursal($event.value)" >
                                               <mat-option *ngFor="let sucu of sucursales" [value]="sucu.idSucursal">
                                                   {{sucu.municipio + ' - ' + sucu.direccion}}
                                               </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row" *ngIf="productosProveedor" >
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header card-header-danger">
                                                <h4 class="card-title">Productos sin agregar</h4>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field>
                                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                                                            </mat-form-field>
                                                        </div>
                  
                                                    </div>
                                                    <div class="principal-container small mat-elevation-z8">
                                                        <table style="width: 100%;" mat-table [dataSource]="dataSourceProductosProveedor">
                  
                                                            <!-- ID Column -->
                                                            <ng-container matColumnDef="id" >
                                                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                                                <td mat-cell *matCellDef="let element" (click)="registrarCantidad( element )">
                                                                   {{element.idProducto }} </td>
                                                            </ng-container>
                  
                                                            <!-- Nombre Column -->
                                                            <ng-container matColumnDef="producto">
                                                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                                                <td mat-cell *matCellDef="let element"  (click)="registrarCantidad( element )"> 
                                                                  {{element.producto}} </td>
                                                            </ng-container>
                  
                                                            <!-- Apellidos Column -->
                                                            <ng-container matColumnDef="referencia">
                                                                <th mat-header-cell *matHeaderCellDef> Referencia </th>
                                                                <td mat-cell *matCellDef="let element"  (click)="registrarCantidad(element)"> 
                                                                  {{element.referencia}} </td>
                                                            </ng-container>
                  
                                                              <!-- Email Column -->
                                                              <ng-container matColumnDef="valorCompraUnidad">
                                                                    <th mat-header-cell *matHeaderCellDef> Valor </th>
                                                                    <td mat-cell *matCellDef="let element"  (click)="registrarCantidad(element)"> 
                                                                      {{element.marca}} </td>
                                                                </ng-container>
                  
                                                                
                                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                        </table>
                  
                                                        <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
                                                    </div>
                                                    <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Registrar
                                                    </button>-->
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title">Productos Agregados</h4>
                                          </div>
                                          <div class="card-body">
                                              <form>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <mat-form-field>
                                                              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                                                          </mat-form-field>
                                                      </div>
                  
                                                  </div>
                                                  <div class="principal-container small mat-elevation-z8">
                                                      <table style="width: 100%;" mat-table [dataSource]="dataSourceOrdenProductos">
                  
                                                          <!-- ID Column -->
                                                          <ng-container matColumnDef="id">
                                                              <th mat-header-cell *matHeaderCellDef> ID </th>
                                                              <td mat-cell *matCellDef="let element" (click)="devolverProducto(element)"> 
                                                                {{element.idProducto }} </td>
                                                          </ng-container>
                  
                                                          <!-- Nombre Column -->
                                                          <ng-container matColumnDef="producto">
                                                              <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                                              <td mat-cell *matCellDef="let element" (click)="devolverProducto(element)"> 
                                                                {{element.producto}} </td>
                                                          </ng-container>
                  
                                                          <!-- Apellidos Column -->
                                                          <ng-container matColumnDef="referencia">
                                                              <th mat-header-cell *matHeaderCellDef> Referencia </th>
                                                              <td mat-cell *matCellDef="let element" (click)="devolverProducto(element)"> 
                                                                {{element.referencia}} </td>
                                                          </ng-container>
                  
                                                            <!-- Email Column -->
                                                            <ng-container matColumnDef="valorUnidadCompra">
                                                                  <th mat-header-cell *matHeaderCellDef> Valor </th>
                                                                  <td mat-cell *matCellDef="let element" (click)="devolverProducto(element)"> 
                                                                    {{element.marca}} </td>
                                                              </ng-container>
                  
                                                              
                                                          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                                          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                                      </table>
                  
                                                      <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
                                                  </div>
                                                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Registrar
                                                  </button>-->
                                                  <div class="clearfix"></div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="row" *ngIf="productosProveedor">
                                    <div class="col-12 text-center">
                                        <input mat-raised-button type="submit" 
                                        (click)="onSubmitOrden()"
                                        style="margin-top: 20px;"
                                        class="btn btn-default" value="Guardar">
                                    </div>
                                </div>
                
                                  <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right">Registrar
                                  </button>-->
                                
                                  <div class="clearfix"></div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>

          </mat-tab>

        


      </mat-tab-group>

  </div>
</div>
